---
layout: archive
title: "Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}

<p>I have developed an interest in Pixel Art lately, and it turns out I'm pretty decent at it. I use  <a href="https://www.aseprite.org/">Aseprite</a> which used to be FOSS till 2016, but is currently a paid (but open-source) software. It can built locally from the source, by following  <a href="https://www.reddit.com/r/PixelArt/comments/on9pw6/guide_how_to_build_aseprite_from_source_aseprite/ ">these</a> instructions. Below are some of the things I've made.</p>

<hr style="text-align:left;margin-left:0;border-top:2px solid #6b7278"> 
<ul>
{% for post in site.gallery %}
  <li>{% include archive-single.html %}</li>
{% endfor %}
</ul>
