---
layout: archive
title: "Resources"
permalink: /resources/
author_profile: true
---

{% include base_path %}

In today's world, there is no limit to the content that we can access for learning new things. I have often burnt many
days simply collecting and vetting these resources, making it quite hard to make tangible progress in actually learning
the content. This page is dedicated to compiling any useful resources that I have found, in the hopes that someone else
may find it helpful.

<ul>
    {% for post in site.resources %}
    <li>{% include archive-single.html %}</li>
    {% endfor %}
</ul>