 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="iconify" data-icon="logos-arduino" data-inline="false"></i>
      <p> I’m a Physics undergraduate studying at IISER Mohali (BS-MS), expected to graduate in 2023. I’m yet to figure out my specific interests, but I enjoy doing computational work and interactive simulations. I usually work with Python, and a little bit of C++ but recently I’ve picked up Julia and JavaScript as well.</p>
    </div>
</div>
