<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="physhub_logo" src="/assets/img/physhub_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The PhysHub Project </h3>
    <ul>
      <li> Javascript </li>
      <li> HTML </li>
      <li> CSS </li>
    </ul>
    <p>On 06/07/2020, I’m working with a team to set up an open-source physics simulation repository. We aim to provide a free source of learning material while being open to anyone who wants to contribute to it.</p>
    <a class="project-link" href="https://github.com/ThePhysHub">To The Github Page Here</a>
    <a class="project-link" href="https://physicshub.herokuapp.com/">To The The Project Website Here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  
<div class="user-projects">
  <div class="images-right">
    <img alt="" src="" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Events </h3>
    <ul>
      <li> Hacktoberfest 2020 </li>
      <li> NASA Space Apps Challenge </li>
    </ul>
    <p>...........</p>
    <a class="">To The Github Repo Here</a>
  </div>
</div>
</div>
